section#features.features.text-center.section-padding
  .container
    .row
      .col-md-12
        h1.arrow 募集職種
        .features-wrapper
          .col-md-4.wp2
            .icon
              i.fa.fa-pencil.shadow
            h2 Webデザイナー
            .desc.mh
              p PhotoshopやIllustratorでカンプを作成し、基本的なHTMLとCSSでマークアップする職種です。1pxにこだわりを置い続け、飽くなきビジュアル作成に情熱を傾けられる人材を求めています。
          .col-md-4.wp2
            .icon
              i.fa.fa-code.shadow
            h2 フロントエンドエンジニア
            .desc.mh
              p WebデザイナーがマークアップしたHTMLに、JavaScriptでクライアントサイドの動的表現を付加します。プリプロセッサやタスクランナーを使いこなし、デザイナーのマークアップを省力化するのも、フロントエンドエンジニアの大切な業務です。
          .col-md-4.wp2.delay-05s
            .icon
              i.fa.fa-laptop.shadow
            h2 サーバーサイドエンジニア
            .desc.mh
              p 当社でのサーバーサイドは、主にPHPを用います。WordPressやEC-CUBEといったPHP製CMSから、SymphonyやLaravelといったフレームワークベースのスクラッチシステムまで、幅広く取扱ます。
          .col-md-4.wp2.delay-1s
            .icon
              i.fa.fa-database.shadow
            h2 インフラエンジニア
            .desc.mh
              p クラウドやVPSといった、仮想サーバー案件が増えています。インフラエンジニアは、これら仮想のサーバーを設計・構築・保守を行うのが主な業務です。サーバーサイドやフロントエンドエンジニアと歩調を合わせて、案件を進めてください。

          .col-md-4.wp2.delay-1s
            .icon
              i.fa.fa-briefcase.shadow
            h2 ディレクター
            .desc.mh
              p ディレクターは、案件を進める上で、無くてはならない存在です。お客様の要望を的確に聞き出し、案件として形作る能力が求められます。また、技術面にも一定の理解が必要で、デザイナーやエンジニアを束ねるリーダーシップも必要です。
          .col-md-4.wp2.delay-1s
            .icon
              i.fa.fa-cogs.shadow
            h2 システムエンジニア
            .desc.mh
              p 特に、サーバサイド・インフラの規模が大きい案件で、システムの上流設計に関わります。お客様の要望を的確に聞き出し、最適で安全なWebシステム構築をお願いします。
          .clearfix
