nav
  .container-fluid
    .row
      .col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2.col-xs-8.col-xs-offset-2
        nav.pull
          ul.top-nav
            li
              a(href='#intro')
                | Introduction
                span.indicator
                  i.fa.fa-angle-right
            li
              a(href='#features')
                | Features
                span.indicator
                  i.fa.fa-angle-right
            li
              a(href='#responsive')
                | Responsive Design
                span.indicator
                  i.fa.fa-angle-right
            li
              a(href='#portfolio')
                | Portfolio
                span.indicator
                  i.fa.fa-angle-right
            li
              a(href='#team')
                | Team
                span.indicator
                  i.fa.fa-angle-right
            li
              a(href='#contact')
                | Get in Touch
                span.indicator
                  i.fa.fa-angle-right
