section#responsive.text-center.offer
  .container-fluid.nopadding.responsive-services
    .wrapper
      .iphone
        .wp3
      .fluid-white
    .container.designs
      .row
        .col-md-7.col-md-offset-5
          h1.arrow 採用条件
          div
            // Nav tabs
            ul.nav.nav-tabs(role='tablist')
              li.active(role='presentation')
                a(href='#offer-regular', aria-controls='home', role='tab', data-toggle='tab') 正社員
              li(role='presentation')
                a(href='#offer-contract', aria-controls='profile', role='tab', data-toggle='tab') 契約社員
              li(role='presentation')
                a(href='#offer-parttime', aria-controls='messages', role='tab', data-toggle='tab') パートタイマー
              li(role='presentation')
                a(href='#offer-intern', aria-controls='settings', role='tab', data-toggle='tab') インターン
            // Tab panes
            .tab-content
              #offer-regular.tab-pane.active(role='tabpanel')
                table
                  tr
                    th 勤務時間
                    td 9:00~18:00（残業月20時間程度）
                  tr
                    th 休日
                    td 土日祝日（完全週休２日制）、夏季休暇、年末年始休暇
                  tr
                    th 応募条件
                    td Web業界で2年以上の経験
                  tr
                    th 給与
                    td 25万円〜50万円
                  tr
                    th 福利厚生
                    td 交通費支給、月3万円まで
              #offer-contract.tab-pane(role='tabpanel')
                table
                  tr
                    th 勤務時間
                    td 9:00~18:00（残業月20時間程度）
                  tr
                    th 休日
                    td 土日祝日（完全週休２日制）、夏季休暇、年末年始休暇
                  tr
                    th 応募条件
                    td 未経験可、他業界からの転職歓迎
                  tr
                    th 給与
                    td 18万円〜
                  tr
                    th 福利厚生
                    td 交通費支給、月3万円まで
              #offer-parttime.tab-pane(role='tabpanel')
                table
                  tr
                    th 勤務時間
                    td 9:00~18:00の間で6時間以上
                  tr
                    th 休日
                    td 平日のうち、週2日、6時間以上
                  tr
                    th 応募条件
                    td 未経験可
                  tr
                    th 給与
                    td 時給1000円〜
                  tr
                    th 福利厚生
                    td 交通費支給、月2万円まで
              #offer-intern.tab-pane(role='tabpanel')
                table
                  tr
                    th 勤務時間
                    td 9:00~18:00の間で6時間以上
                  tr
                    th 休日
                    td 平日のうち、週2日、6時間以上
                  tr
                    th 応募条件
                    td 未経験可
                  tr
                    th 給与
                    td 相談の上決定
                  tr
                    th 福利厚生
                    td インターンにはありません。
